interval: "0 */5 * * * *"
search_url: "http://127.0.0.1:9200/logstash-*/_search"
search: {
  "size": 0,
  "query": {
  "bool": {
    "must": [
      {
        "match": {
          "BackendName": "whatever.com/"
        }
      },
      {
        "range": {
          "app.log.status": {
            "gte": 500,
            "lt": 510
          }
        }
      },
      {
        "range": {
          "@timestamp": {
            "gte": "now-5m",
            "lte": "now",
          }
        }
      }
      ]
    }
  }
}
process:
  lua_inline: |
    if ctx.HitCount > 100 then
      return {
        {
          type = "wechat",
          users = {"clm@meitu.com"},
          subject = "平台_暗中观察者"
          content = "注意! 前 5 分钟有 ".. ctx.HitCount .." 个 50X 请求" ,
        }
      }
    end